# SECTION 07 HW 
<br>
## Directions 
<br>
1. You will need to open up the SavvyCoders_SQL_EVtables.db for the first part of the HW. 
<br>
2. If you need to change databases you will be instructed to do so. 
<br>
3. Please answer all of the questions in a markdown file. Here is the sample format: 

# Section 7.1

# 7.1 HW Questions 


1. Using EVregistry, Write a query to select the `ModelYear`, `Make`, and `Model` off all of the vehicles in the registry.
2. Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, `ElectricVehicleType`. 
3. Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry. 
4. Using the EVRegistry, wirte a query that returns the `Make` and `Model` of all of the EV's that have a BaseMSRP between 20000 and 35000?

## Question 1 Answers

1. SELECT "Model Year", Make, Model<br>
   FROM EVRegistry

2. SELECT DISTINCT "Electric Vehicle Type"<br>
   FROM EVRegistry

3. SELECT * <br>
   FROM EVRegistry <br>
   WHERE ElectricVehicleType = "Battery Electric Vehicle (BEV)"

   or

   SELECT <br>
   "VIN", <br>
   "County", <br>
   "City", <br>
   "State", <br>
   "Postal Code",<br> 
   "Model Year",<br>
   "Make", <br>
   "Model", <br>
   "Electric Vehicle Type",<br> 
   "Electric Range", <br>
   "Base MSRP", <br>
   "StateID" <br>
<br>
   FROM EVRegistry
<br>
   WHERE ElectricVehicleType = "Battery Electric Vehicle (BEV)"

4. SELECT DISTINCT Make, Model<br>
   FROM EVRegistry<br>
   WHERE "Base MSRP" BETWEEN 20000 AND 35000<br>

# 7.2 HW Questions 

1. Using EVRegistry, write a query to find a record  where the `City` attribute is NULL. Return all of the available columns. 
2. Write a query to find the `make`, `model`, and `ElectricVehicleType` where the VIN number has  that ends in '3E1EA1J'.
3. Select the `ModelYear`, `make`, `model`, `ElectricVehicleType`, and `range` of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest. 
4. Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records. 
5.  Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be `userid`, `minTime`, and `maxTime`. Order this result set by the last two columns respectively.

## Question 2 Answers

1. SELECT * <br>
   FROM EVRegistry <br>
   WHERE City IS NULL

2. SELECT Make, Model, ElectricVehicleType <br>
   FROM EVRegistry <br>
   WHERE VIN LIKE "%3E1EA1J"

3. SELECT ModelYear, Make, Model, ElectricVehicleType, ElectricRange<br>
FROM EVRegistry<br>
WHERE Make = "TESLA" OR Make = "CHEVROLET"<br>
ORDER BY Make, ModelYear DESC

4. SELECT stationID, Count(*) as stationIDtotal<br>
   FROM EVCharging<br>
   GROUP BY stationID<br>
   ORDER BY COUNT(*) DESC<br>
   LIMIT 5

5. SELECT userID, MIN(chargeTimeHrs) as 'minTime',<br>
   MAX(chargeTimeHrs) as 'maxTime'<br>
   FROM EVCharging<br>
   WHERE chargeTimeHrs > 0.5<br>
   GROUP BY userId<br>
   ORDER BY 2, 3

### _Before moving on with the rest of the questions please set up the new database_
1. in SQLlite close any open DB
2. file----> Open Database
3. Choose SavvyCoders_SQL_chargeDB.db from the resource repository from this section in the curriculum
4. Make sure that you have 5 tables: 
    - dimDay 
    - dimFacility
    - dimUser
    - factCharge
    - EVCharging

# 7.3 HW Questions

1. Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.
2. Using, EV charging, Find the total power consumed from charging EV's by each User. Return the `userId` and name the calculated column, `totalPower`. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users. 
3. Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return `type Facility` and name the calculated column `numStation`. Order the result set from highest to lowest number of charging stations.  
4. In your own words, Briefly explain Primary Keys and Foreign Keys. 
5. Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be `userid`, `minTime`, and `maxTime`. Order this result set by the last two columns respectively. HINT: USE `HAVING`

## Question 3 Answers

1. SELECT ROUND(AVG(chargeTimeHrs),2) AS AvgChargeTime, weekday<br>
   FROM EVCharging<br>
   GROUP BY weekday<br>
   ORDER BY AvgChargeTime DESC<br>
   
   Answer = Wed, with a (2.94) AvgChargeTime

2. SELECT SUM(kwhTotal) AS totalPower, userId<br>
   FROM EVCharging<br>
   GROUP BY userId<br>
   ORDER BY totalPower DESC<br>
   LIMIT 15<br>

3. SELECT COUNT(DISTINCT stationId) AS "numStation", typeFacility <br>
   FROM factCharge <br>
   INNER JOIN dimFacility ON factCharge.facilityID = dimFacility.FacilityKey <br>
   GROUP BY typeFacility <br>
   ORDER BY numStation DESC <br>

4. A primary key is a unique identifier for each record in a table. This can be thought of as a column name in excel that does not allow duplicates. The foreign key uses the unique identifiers from the primary key in another table and can reference those values. This allows you to link different tables and more easily compare data.

5. SELECT userId, MIN(chargeTimeHrs) as minTime, MAX(chargeTimeHrs) AS maxTime <br>
   FROM EVCharging <br>
   GROUP BY userId <br>
   HAVING MIN(chargeTimeHrs) > 1 <br>
   ORDER BY 2, 3 <br>